/* Basic CSS Rules */
body, html {
  font-size: 22px;
  line-height: 26px;
  font-family: 'Cormorant Infant', serif;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
div {
  padding: 0.75rem 2rem 1.5rem 1.5rem;
}
p {
  width: 72%;
  margin: 0 auto;
}
a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    border-top: 2px white dashed;
}
a:hover {
    text-decoration: overline;
    border-top: none;
    border-bottom: 2px white dashed;
}
/* Header and Subtitle Styles */
h1, .subtitle, h3 {
  font-weight: bold;
  font-family: 'Cormorant Unicase', serif;
}
h1, .subtitle {
  background: #fc4a1a;
  color: #fefefe;
}
.subtitle {
  margin: 0;
  padding: 1rem 0 0.66rem 0;
  width: 100%;
}
.subtitle p {
  font-weight:300;
  padding-top:0.5rem;
}
h1, h3 {
  margin: 0;
}
h1 {
  padding-top: 2rem;
  font-size: 3rem;
}
h3 {
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: #fc4a1a;
}
/* List Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding-bottom: 0.5rem;
}
ul li:last-child {
  padding-bottom: 0;
}
/* Fancy Alternating Color Divs */
div:nth-child(even), div:nth-child(even) h3 {
  background: #fc4a1a;
  color: #fefefe;
}
/* Copy Status Box */
.copy {
  position: fixed;
  padding: 0;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.copy p.status {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Cormorant Unicase', serif;
  text-align: center;
}
.success, .failure {
  padding: 1rem .75rem;
}
.status.success {
  background: #00b27c;
  border: .25rem #009c6c solid;
  color: #fff;
  /* This speed syncs up with the speed for the
   * class replace in utils.js, and the failure
   * rule below! */
  animation: inFromBottom 3s linear forwards;
}
.status.failure {
  background: #ff3600;
  border: .25rem #cc2b00 solid;
  color: #fff;
  /* This speed syncs up with the speed for the
   * class replace in utils.js, and the success
   * rule above! */
  animation: inFromBottom 3s linear forwards;
}
@keyframes inFromBottom {
    0%   {opacity: 0; bottom:-3rem;}
    5% {opacity: 1; bottom:0;}
    95% {opacity: 1; bottom:0;}
    100% {opacity: 0; bottom:-3rem;}
}
/* Phone Styles */
@media only screen and (max-width : 600px) {
  body {
    font-size: 22px;
    line-height: 2rem;
    text-align: left;
  }
  p {
    width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  div {
    padding: 0.5rem 1rem 1.5rem 1rem;
  }
  h1, .subtitle {
    text-align: center;
    padding-top: 1rem;
    padding-left: 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.85rem;
    padding-bottom: 0.5rem;
  }
}
/* Printer Styles */
@media print {
    /* Default Print Stylesheet Template
    by Rob Glazebrook of CSSnewbie.com
    edited by Evan Gipson (removed section 2 - styles)
    Last Updated: June 4, 2008
    
    Feel free (nay, compelled) to edit, append, and 
    manipulate this file as you see fit. */
    

  /* SECTION 1: Set default width, margin, float, and
    background. This prevents elements from extending 
    beyond the edge of the printed page, and prevents
    unnecessary background images from printing */
  body, #content, #container {
    width: 100%;
    margin: 0;
    float: none;
    background: #fff;
  }

  /* SECTION 2: Set body font face, size, and color.
    Consider using a serif font for readability. */
  body {
    font: 1em Georgia, "Times New Roman", Times, serif;
    color: #000; 
  }

  /* SECTION 3: Set heading font face, sizes, and color.
    Diffrentiate your headings from your body text.
    Perhaps use a large sans-serif for distinction. */
  h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
  }
  h1 { 
    font-size: 220%;
    margin-bottom: 1.5rem; 
  }
  h2 { font-size: 175%; }
  h3 { font-size: 135%; }
  h4 { font-size: 100%; font-variant: small-caps; }
  h5 { font-size: 100%; }
  h6 { font-size: 90%; font-style: italic; }

  /* Custom Rules */
  * {
    color: #000 !important;
  }
  div {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
  }
  .subtitle {
    display: none;
  }
  .approaches, .aspects {
    float: left;
    width: 50%;
  }
  .stunts {
    float: left;
  }

}